@import 'variables';

/* Header links */
#header-links {
    
    float: left;
    min-height: 40px;
    min-width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: $font-primary;
    text-decoration: none;
   
    ul {
        margin: 0;
        padding: 0;
    }
    
    li:not(:first-child):before, li:last-child:after {
        content: "|";
        margin-left: 2px;
        margin-right: 2px;
    }

    ul li {
        display: inline;
        list-style-type: none;
        color: $primary-color;

        i {
            color: $page-icon-color;       
        }

         a {
            color: $primary-color;       
        }

        div {
            display: inline;
        }
    }
}

/* Small devices */
@media (max-width: 768px) { 

    #header-links {
        text-align: center;
    }
}
